/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
    Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: mr_KindlyJasmineG;
  src: url("../fonts/mr_kindlyjasmineg.otf");
}

html {
  max-width: 1800px;
  margin: 0 auto;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
    Author's custom styles
   ========================================================================== */
h1 {
  font-family: Geneva, Arial, sans-serif;
  margin: 0;
  color: #FFFFFF;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499DD;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFC700;
  margin: 0 0 10px 10px;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0499DD;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #0499DD;
  margin: 25px 35px 31px;
}

h6 {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  color: #282828;
}

a:hover {
  color: #FFC700;
}

#tagline_text1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 72px;
  line-height: 44px;
}

#tagline_text2 {
  font-family: mr_KindlyJasmineG, fantasy;
  margin-left: 545px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #FFC700;
}

#tagline_text3 {
  padding-bottom: 80px;
  font-weight: 900;
  font-size: 96px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  background-image: url(../img/bg_header.png);
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  padding-top: 27px;
}

.hamburger-menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  visibility: hidden;
  padding-right: 35px;
  margin: 0;
  background-color: transparent;
}

nav {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

.tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 248px;
}

.tagline-right li {
  padding-bottom: 15px;
}

button {
  width: 230px;
  height: 50px;
  left: 160px;
  top: 491px;
  color: white;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 60px;
}

button a {
  color: rgb(244, 192, 192);
  text-decoration: none;
}

.video-position {
  position: absolute;
  bottom: -12%;
  right: 0;
  width: 70%;
}

.video-main::-webkit-scrollbar {
  width: 0;
}

.video-main {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 50px;
  overflow-x: auto;
}

iframe {
  border-radius: 10px;
}

#video_1 {
  padding-right: 20px;
}

#video_2 {
  padding-right: 20px;
}

main {
  margin-top: -50px;
}

.popular-excursions {
  margin-top: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-cards {
  display: flex;
  margin-left: 0;
  margin-top: 90px;
  margin-bottom: 20px;
  position: relative;
  left: 0;
  transition: all ease 1s;
  /* overflow: hidden; */
}

.popular-card {
  min-width: 360px;
  max-height: 497px;
  border-radius: 10px;
  margin-right: 20px;
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.slider {
  margin: 20px 0 0 10%;
  overflow: hidden;
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.popular-card p {
  margin: 0 10px;
  color: #fff;
}

.popular-card button {
  width: 160px;
  min-height: 40px;
  margin: 20px 124px 42px 16px;
}

#popular-card-1 {
  background-image: url(../img/card1.png);
  background-size: cover;
}

#popular-card-2 {
  background-image: url(../img/card2.png);
  background-size: cover;
}

#popular-card-3 {
  background-image: url(../img/card3.png);
  background-size: cover;
}

#popular-card-4 {
  background-image: url(../img/card4.png);
  background-size: cover;
}

#popular-card-5 {
  background-image: url(../img/card1.png);
  background-size: cover;
}

#popular-card-6 {
  background-image: url(../img/card2.png);
  background-size: cover;
}

#popular-card-7 {
  background-image: url(../img/card3.png);
  background-size: cover;
}

#popular-card-8 {
  background-image: url(../img/card4.jpg);
  background-size: cover;
}

.slider-prev,
.slider-next {
  font-style: revert;
  font-size: 80px;
  cursor: pointer;
  color: #D4D4D4;
  width: 70px;
  height: 70px;
  background: white;
  border: white;
  border-radius: 0;
}

.slider-button button:hover {
  color: #0499DD;
}

.about-us {
  max-height: 749px;
  margin: 150px 0;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.about-img {
  grid-area: 1 / 1 / 12 / 11;
  background-image: url(../img/about_img.png);
  background-size: cover;
  border-radius: 0 10px 10px 0;
}

.about-card {
  border-radius: 10px;
  background: #EDEDED;
  grid-area: 3 / 8 / 10 / 13;
}

.about-card h2 {
  padding-top: 61px;
  padding-bottom: 40px;
  margin-left: 85px;
}

.about-card p {
  margin-right: 75px;
  margin-left: 85px;
  margin-bottom: 105px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.type {
  display: flex;
  align-items: flex-start;
}

.type-text {
  margin-left: 20px;
}

.type-container {
  margin: 60px auto 130px;
  max-width: 550px;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.gallery-img {
  min-height: 564px;
  max-width: 1440px;
  margin: 15px auto 152px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#img1 {
  grid-area: 1 / 1 / 3 / 5;
  background-image: url(../img/1.png);
  background-size: cover;
}

#img2 {
  grid-area: 1 / 5 / 5 / 8;
  background-image: url(../img/2.png);
  background-size: cover;
}

#img3 {
  grid-area: 1 / 8 / 3 / 10;
  background-image: url(../img/3.png);
  background-size: cover;
}

#img4 {
  grid-area: 1 / 10 / 3 / 12;
  background-image: url(../img/4.png);
  background-size: cover;
}

#img5 {
  grid-area: 3 / 1 / 5 / 3;
  background-image: url(../img/5.png);
  background-size: cover;
}

#img6 {
  grid-area: 3 / 3 / 4 / 5;
  background-image: url(../img/6.png);
  background-size: cover;
}

#img7 {
  grid-area: 4 / 3 / 5 / 5;
  background-image: url(../img/7.png);
  background-size: cover;
}

#img8 {
  grid-area: 3 / 8 / 5 / 12;
  background-image: url(../img/8.png);
  background-size: cover;
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.reviews-cards {
  display: flex;
  margin-left: 10%;
  overflow: hidden;
}

.reviews-card {
  min-width: 740px;
  height: 322px;
  margin-left: 20px;
  background-color: #EDEDED;
  display: flex;
  border-radius: 10px;
}

.img-reviews {
  padding: 38px 28px 39px 45px;
}

.reviews-card p {
  margin-top: 38px;
  margin-right: 27px;
}

.reviews-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.contact-us {
  margin-top: 150px;
  background-image: url(../img/request_bg.png);
}

.request {
  max-width: 560px;
  height: 640px;
  margin-left: 50%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.request h2 {
  margin: 0 0 6px 10%;
  padding-top: 132px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.request p {
  margin-left: 10%;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFC700;
}

.request input {
  width: 80%;
  height: 15px;
  margin: 22px 10%;
  border: none;
  border-bottom: #fff solid 2px;
  background: transparent;
  color: white;
}

.request input:-webkit-autofill {
  box-shadow: none;
  -webkit-box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.7);
  -webkit-text-fill-color: white;
}

#request-submit {
  width: 230px;
  height: 50px;
  left: 160px;
  top: 491px;
  border: none;
  color: white;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 60px;
}

#request-submit:hover {
  cursor: pointer;
  color: #FFC700;
}

::placeholder {
  color: white;
}

label {
  color: transparent;
}

footer {
  background-color: #ededed;
}

.footer-columns {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.logo-footer {
  grid-area: 1 / 1 / 4 / 2;
}

.links-footer {
  grid-area: 1 / 2 / 3 / 4;
}

.contact-footer {
  grid-area: 1 / 4 / 4 / 6;
}

.contact-right {
  grid-area: 1 / 6 / 2 / 8;
}

.soc-icon {
  grid-area: 2 / 6 / 4 / 8;
}

footer a {
  text-decoration: none;
  margin-bottom: 8px;
}

footer ul {
  padding: 0;
}

.soc-icon ul {
  display: flex;
}

.contact-right {
  margin: 16px 0;
}

.soc-icon li {
  margin-right: 12px;
}


/*PAGE 2*/


#header-excursions {
  background-image: url(../img/1.png);
  background-position: center;
}

#header-excursions nav {
  margin-bottom: 0;
}

#header-excursions h1 {
  text-transform: uppercase;
  margin: 0;
  padding-top: 57px;
  padding-bottom: 59px;
}

#main-excursion {
  padding: 40px 0;
  background: #E5E5E5;
}

.excursions-filter {
  background-color: #fff;
  padding: 60px 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.excursions-filter-radio {
  max-width: 475px;
  margin: 0 auto;
}

.form-radio-btn {
  display: inline-block;
  margin-right: -4px;
}

.form-radio-btn input[type=radio] {
  display: none;
}

.form-radio-btn label {
  display: inline-block;
  color: #282828;
  cursor: pointer;
  padding: 0 10px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #D4D4D4;
  user-select: none;
}

/* Checked */
.form-radio-btn input[type=radio]:checked+label {
  color: #0499DD;
  border-bottom: 2px solid #0499DD;
}

/* Hover */
.form-radio-btn label:hover {
  color: #0499DD;
}

/* Disabled */
.form-radio-btn input[type=radio]:disabled+label {
  background: #efefef;
  color: #666;
}

.excursions-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 60px;
}

.excursions-filter-button button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  max-width: 235px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.excursions-filter-button-sub button {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 20px 10px;
  max-width: 235px;
  height: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.excursions-our-tours {
  display: flex;
  margin-top: 40px;
}

.excursions-filter-left {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  margin-right: 40px;
  width: 26%;
  height: 1018px;
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.filter-top {
  display: flex;
  justify-content: space-between;
  margin: 31px 35px 21px;

}















.our-tours {
  width: 70%;
}

.our-tours-card {
  margin-bottom: 20px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.our-tours-card-img {
  min-width: 238px;
  margin-right: 45px;
  background-image: url(../img/8.png);
  background-size: cover;
}

.our-tours-card-content {
  width: 541px;
}

.our-tours-card-text {
  margin: 27px 23px 20px;
  padding-top: 27px;
}

.our-tours-card-text span {
  font-size: 12px;
  line-height: 15px;
  color: #FFC700;
}

.our-tours-card-text h4 {
  color: #282828;
  margin-top: 0;
}

.our-tours-card-table {
  display: flex;
}

.our-tours-card-td p {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #282828;
}

.our-tours-card-td span {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0499DD;
  padding: 0 10px;
}

.our-tours-time {
  padding-left: 30px;
}

.our-tours-card-description {
  padding-left: 20px;
  border-left: 3px solid #0499DD;
}

.our-tours-like {
  width: 40px;
  height: 40px;
  border: none;
  margin: 20px 10px 27px;
  border-radius: 50px;
  background: #EDEDED;
}

.our-tours-like:hover {
  border: 2px solid #0499DD;
  color: #0499DD;

}

















































@media (max-width: 1480px) {
  .gallery-img {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1240px) {

  .container {
    max-width: 1000px;
  }

  .popular-cards {
    height: max-content;
    justify-content: space-between;
  }

  .popular-card {
    min-width: 295px;
    max-height: 490px;
    border-radius: 10px;
    margin-right: 20px;
    padding-top: 130px;
  }

  .about-us {
    max-height: 549px;
    margin: 150px 60px 0 0;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .about-img {
    grid-area: 1 / 1 / 12 /7;
  }

  .about-card {
    grid-area: 3 / 4 / 8 / 5;
  }

  .about-card h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 0 0 50px;
  }

  .about-card p {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 61px;
  }

  .about-card {
    grid-area: 3 / 5 / 10 / 13;
  }

  .gallery-img {
    min-height: 500px;
  }
}

@media (max-width: 1100px) {
  #tagline_text2 {
    margin-left: 500px;
  }

  #tagline_text3 {
    line-height: 90%;
  }

  .container {
    max-width: 88%;
  }

  .types {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .type-text h4 {
    margin-top: 0;
  }

  .gallery-img {
    min-height: 564px;
    max-width: 1440px;
    margin: 15px auto 152px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  #img1 {
    grid-area: 1 / 1 / 3 / 5;
    background-image: url(../img/1.png);
    background-size: cover;
  }

  #img2 {
    grid-area: 1 / 1 / 5 / 6;
    background-image: url(../img/2.png);
    background-size: cover;
  }

  #img3 {
    grid-area: 1 / 6 / 3 / 9;
    background-image: url(../img/3.png);
    background-size: cover;
  }

  #img4 {
    grid-area: 1 / 9 / 3 / 12;
    background-image: url(../img/4.png);
    background-size: cover;
  }

  #img5 {
    grid-area: 3 / 1 / 5 / 3;
    background-image: url(../img/5.png);
    background-size: cover;
    display: none;
  }

  #img6 {
    grid-area: 3 / 3 / 4 / 5;
    background-image: url(../img/6.png);
    background-size: cover;
    display: none;
  }

  #img7 {
    grid-area: 4 / 3 / 5 / 5;
    background-image: url(../img/7.png);
    background-size: cover;
    display: none;
  }

  #img8 {
    grid-area: 3 / 6 / 5 / 12;
    background-image: url(../img/8.png);
    background-size: cover;
  }

  .request {
    max-width: 560px;
    margin: 0 auto;
  }

  .excursions-our-tours {
    display: flex;
    margin-top: 40px;
    flex-direction: column-reverse;
  }

  .our-tours {
    width: 100%;
    margin-bottom: 100px;
  }

  .excursions-filter-left {
    width: 100%;
    margin-bottom: 100px;
  }
}

@media (max-width: 860px) {
  nav ul {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }

  #tagline_text2 {
    margin-left: 500px;
  }

  .about-card h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 0 0 30px;
  }

  .about-card p {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 61px;
  }

  .reviews-card {
    min-width: 505px;
    height: 246px;
    margin-left: 20px;
  }

  .img-reviews {
    padding: 0;
    margin: 26px 20px 52px 31px;
  }

  .img-reviews img {
    max-width: 168px;
    max-height: 168px;
  }

  .reviews-card p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 26px;
    margin-right: 17px;
  }
}

@media (max-width: 735px) {
  #tagline_text2 {
    margin-left: 233px;
  }

  .tagline {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .about-us {
    max-height: 549px;
    margin: 150px 0 0 0;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .about-img {
    grid-area: 1 / 1 / 12 /11;
    border-radius: 0;
  }

  .about-card {
    grid-area: 3 / 2 / 10 / 10;
  }

  .footer-columns {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  .logo-footer {
    grid-area: 1 / 3 / 2 / 5;
  }

  .links-footer {
    grid-area: 3 / 1 / 5 / 4;
  }

  .contact-footer {
    grid-area: 3 / 4 / 4 / 7;
  }

  .contact-right {
    grid-area: 4 / 4 / 5 / 7;
    margin: -30px -30px -30px 2px;
  }

  .soc-icon {
    grid-area: 2 / 3 / 3 / 5;
  }

  .excursions-filter-radio {
    min-width: 361px;
  }

  .form-radio-btn label {
    padding: 13px 10px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 600px) {
  #tagline_text1 {
    font-size: 36px;
    line-height: 44px;
  }

  #tagline_text2 {
    font-size: 48px;
    line-height: 48px;
  }

  #tagline_text3 {
    font-weight: 900;
    font-size: 72px;
    line-height: 90%;
  }

  .video-position {
    position: absolute;
    bottom: -12%;
    right: 0;
    width: 99%;
  }

  .popular-cards {
    margin-left: 25px;
  }

  .gallery-img {
    min-height: 680px;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  #img1 {
    grid-area: 5 / 1 / 8 / 5;
    background-image: url(../img/1.png);
    background-size: cover;
  }

  #img2 {
    grid-area: 1 / 1 / 5 / 3;
    background-image: url(../img/2.png);
    background-size: cover;
  }

  #img3 {
    grid-area: 1 / 3 / 3 / 5;
    background-image: url(../img/3.png);
    background-size: cover;
  }

  #img4 {
    grid-area: 1 / 10 / 3 / 12;
    background-image: url(../img/4.png);
    background-size: cover;
    display: none;
  }

  #img5 {
    grid-area: 3 / 1 / 5 / 3;
    background-image: url(../img/5.png);
    background-size: cover;
    display: none;
  }

  #img6 {
    grid-area: 3 / 3 / 4 / 5;
    background-image: url(../img/6.png);
    background-size: cover;
    display: none;
  }

  #img7 {
    grid-area: 4 / 3 / 5 / 5;
    background-image: url(../img/7.png);
    background-size: cover;
    display: none;
  }

  #img8 {
    grid-area: 3 / 3 / 5 / 5;
    background-image: url(../img/8.png);
    background-size: cover;
  }
}

@media (max-width: 505px) {
  #tagline_text2 {
    margin-left: 150px;
  }

  .reviews-cards {
    margin-left: 1%;
    min-height: 600px;
  }

  .reviews-card {
    min-width: 280px;
    height: 447px;
    margin-left: 20px;
    flex-wrap: wrap;
  }

  .img-reviews {
    padding: 0;
    margin: 32px 172px 20px 28px;
  }

  .img-reviews img {
    max-width: 80px;
    max-height: 80px;
  }

  .reviews-card p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 26px;
    margin-right: 24px;
    margin-left: 28px;
  }

  .request {
    max-width: 75%;
    height: 450px;
  }

  .request h2 {
    padding-top: 10%;
  }

  .about-card {
    grid-area: 2 / 2 / 11 / 10;
  }

  .contact-us {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}












































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}